<div id="background_header"></div>
<div id="background_body"></div>

<div id="chatContainer">
  <div id="sidebar">
    <div id="sidebarHeader">

    </div>
    <div id="sidebarSearchBox">
      <img width="13" src="../assets/searchIcon.png" alt="SearchIcon">
      <input type="text" placeholder="Search or start the new chat" />
    </div>
    <div id="sidebarContent">
      <div id="noConversation">
        All chats are archived
      </div>
    </div>
  </div>
  <div id="chat">

  </div>
</div>

<router-outlet></router-outlet>